.header {
	&-top {		
		position: relative;	
		padding: 15px 20px;	
		background: #3f3f3f;
	}
	&-bottom {
		padding: 30px 20px;
		background: #252525;
	}
	&__navigation{
		margin-left: -20px;
	}
	&-logo {
		font-size: 2.25em;
		color: #fff;
		&__sign {
			margin-left: 20px;
			font-size: .75rem;
			color: #999;
		}
	}
}
.menu-toggle {
	display: none;

	padding: 5px 0 5px 20px;
	margin-top: 10px;

	font-size: .75em;
	text-transform: uppercase;		
	color: #b8b8b8;
	
	background-color: inherit;
	border-left: 1px solid #b8b8b8;

	cursor: pointer;
	&:hover {
		color: #ff9900;
		border-color: #ff9900;
	}
}
.navigation {
	display: flex;
	&__item {
		padding: 5px 20px;	
		line-height: 1;
		border-right: 1px solid #b8b8b8;
		transition: border-color  .4s;
		&:hover {
			border-color: #ff9900;
		}		
	}	
	&__link {
		font-size: .75em;
		text-transform: uppercase;		
		color: #b8b8b8;
		transition: color  .4s;
		&:hover {
			color: #ff9900;
		}		
	}	
}
.navigation.view {
	height: 460px;
}
.social-media {
	&__icon {
		display: inline-block;

		height: 35px;
		width: 35px;
		
		background-color: #252525;
		border-radius: 50%;
		transition: background-color .4s;
		&:hover {
			background-color: #ee802f;
		}
	}
	&__link {
		display: block;

		width: 100%;
		height: 100%;

		background-repeat: no-repeat;
		background-size: 15px;
		background-position: center;
		border-radius: 50%;
	}
}
.icon-linked-in {
	background-image: url("../img/icon-linkedin.png");
}
.icon-twitter {
	background-image: url("../img/icon-twitter.png");
}
.icon-pinterest {
	background-image: url("../img/icon-pinterest.png");
}
.icon-google-plus {
	background-image: url("../img/icon-google-plus.png");
}
.icon-rss {
	background-image: url("../img/icon-rss.png");
}
.search {
	display: flex;
	font-size: .75em;
	&__input {
		padding: 10px;

		color: #fff;
		background: #363636;
		border: none;
		&::placeholder{
			color: #7f7f7f;
		}
	}
	&__btn {
		width: 75px;
		height: 35px;

		line-height: 1;
		color: #fff;
		text-transform: uppercase;

		background-color: #ff9900;
		border: none;
		cursor: pointer;
		transition: background-color .4s;
		&:hover {
			background-color: #d27e01;
		}
	}
}
